pip install rdkit
conda install -c conda-forge openbabel
pip3 install torch torchvision torchaudio
pip install biopython
pip install biopandas
pip install networkx
pip install py3dmol
pip install scikit-learn
pip install tensorboard
pip install wandb
pip install tqdm
pip install pytorch-lightning==1.6.0
